body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    position: sticky;
    top: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa500;
    padding: 15px 25px;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}

.intro-text {
    max-width: 50%;
}

.intro h1 {
    font-size: 2em;
    color: #ffffff;
    background-color: #121212;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.intro p {
    margin: 20px 0;
}

.login-button {
    background-color: #ffa500;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.intro-image img {
    max-width: 100%;
    border-radius: 10px;
}

.contact-us {
    padding: 50px 20px;
}

.contact-us h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.contact-us form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-color: #ffa500;
}

.contact-us input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border-color: #ffa500;
}

.contact-us input:focus {
    outline: none;
    border-color: #ffa500;
}

.contact-us button {
    background-color: #ffa500;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.table-section {
    padding: 50px 20px;
}

.table-section table {
    width: 100%;
    border-collapse: collapse;
}

.table-section th, .table-section td {
    border: 1px solid #ffa500;
    padding: 10px;
    text-align: left;
}

.table-section th {
    background-color: #ffa500;
    color: #000;
}

.table-section tfoot {
    background-color: #ffa500;
    color: #000;
}